body,html {
    margin: 0;
    padding: 0;
}

.start-page-wrapper {
    width: 1440px;
    height: 1024px;
    background: linear-gradient(238deg, #347DB6 19.39%, #4F8BB2 80.61%);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    display: inline-flex;
    padding: 53px 23px 115px 165px;
    justify-content: flex-end;
    align-items: center;
}

.next-to {
    display: inline-block;
}

.lydia{
    width: 89px;
    height: 80px;
    color: #EFF1FA;
    text-shadow: -3px 4px 0 #747474;
    font-family: Cuprum;
    font-size: 40px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
}

.J{
    width: 149px;
    height: 137px;
    color: #EFF1FA;
    text-shadow: -3px 4px 0 #747474;
    font-family: Cuprum;
    font-size: 300px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 27px;
}

.ohnsons {
    width: 863px;
    height: 137px;
    color: #EFF1FA;
    text-shadow: -3px 4px 0 #747474;
    font-family: Cuprum;
    font-size: 200px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
}

.enter-here-btn {
    width: 337.22px;
    height: 294px;
}

.portfolio {
    width: 978px;
    height: 289px;
    color: #EFF1FA;
    text-shadow: -3px 4px 0 #747474;
    font-family: "Rum Raisin";
    font-size: 250px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 22.5px;
}